################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ECB2_Lib.Parser/obj
/ECB2_Lib.Parser.UT/obj
/ECB2_Lib.Parser.Grammar/obj
/ECB2_Lib.Parser/bin
/ECB2_Lib.Parser.UT/bin
/ECB2_Lib.Parser.Grammar/bin
/BASICLanguageParser/obj
/BASICLanguageParser.Grammar/obj
/BASICLanguageParser.Grammar/bin/Debug
/BASICLanguageParser.Grammar/.~lock.Tokens.xlsx#
/BASICLanguageParser/out
/BASICLanguageParser/BASICLanguageParser - Backup.csproj
